body {
  background-color: wheat;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

img {  
  max-width: 40%;
  display: block;
  height: auto;
  margin: 250px auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: ;
}

footer {
  text-align: center;
}

footer a  {
  margin: 0 10px;
  color: hsl(132, 82%, 34%);
}